<mat-toolbar color="accent">
  <span> <a class="navbar-brand" href="#"> JWT Authentication </a></span>
  <span class="p-2"><a class="nav-link active" routerLink="/home">Home</a></span>
  <span class="p-2"><a class="nav-link active" routerLink="/admin">Admin Dashboard</a></span>
  <span class="p-2"><a class="nav-link active" routerLink="/user">User Dashboard</a></span>
  <span class="space-button"></span>
  <button class="m-2" mat-raised-button color="primary" >Register</button>
  <button class="m-2" mat-raised-button color="primary" routerLink="/login" >Login</button>
  <button class="m-2" mat-raised-button color="warn" >Logout</button>
</mat-toolbar>
